<div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutGap.gt-md="100px"
    fxLayoutGap.md="50px" fxLayoutGap.lt-md="20px"
    fxLayoutAlign.gt-md="space-around center" fxLayoutAlign.lt-md="space-between center">
  <div [ngStyle.sm]="{'width': '550px'}" fxFlex.gt-md="700px" fxFlex.md="600px" fxFlex.sm="367px">
    <picture>
      <source srcset="assets/images/webP/team-work.webp" type="image/webp">
      <source srcset="assets/images/jpg/team-work.jpg" type="image/jpeg">
      <img src="assets/images/jpg/team-work.jpg" alt="team work" class="responsive">
    </picture>
  </div>
  <div class="card-container" fxLayout fxFlex.gt-md="400px" fxFlex.md="300px" fxFlex.sm="183px" fxLayoutAlign="center center">
    <mat-card [ngStyle.sm]="{'width': '518px'}">
      <mat-card-title>Actualizate</mat-card-title>
      <mat-card-content>
        <p>
          La Resolución 0312 de 2019 Emitida por el Ministerio de Trabajo establece los Estándares 
          Mínimos que empleadores públicos y privados, 
          contratantes de personal bajo modalidad de contrato civil, 
          comercial o administrativo a los trabajadores dependientes e independientes, a las 
          organizaciones de economía solidaria y el sector cooperativo, a las agremiaciones o 
          asociaciones que afilian trabajadores al Sistema de Seguridad Social Integral, 
          a las empresas de servicios temporales, a los estudiantes afiliados al Sistema General 
          de Riesgos Laborales y los trabajadores en misión; a las administradoras de riesgos 
          laborales; a la Policía Nacional en lo que corresponde a su personal no uniformado y 
          al personal civil de las Fuerzas Militares; quienes deben implementar los Estándares 
          Mínimos del Sistema de Gestión de SST en el marco del Sistema de Garantía de Calidad 
          del Sistema General de Riesgos Laborales
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>