<div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutAlign="space-evenly start"
    fxLayoutGap="50px" class="container">
  <mat-card fxFlex.gt-sm="400px" [ngStyle.lt-md]="{'width': '400px'}" [ngStyle.lt-sm]="{'width': '300px'}">
      <mat-card-title>Seguridad y salud en el trabajo</mat-card-title>
      <picture>
        <source srcset="assets/images/webP/security-work_1280x254.webp" type="image/webp">
        <source srcset="assets/images/jpg/security-work_1280x254.jpg" type="image/jpeg">
        <img mat-card-image src="assets/images/jpg/security-work_1280x254.jpg" alt="Safety work" class="responsice">
      </picture>
      <mat-card-content>
        <ul>
            <li>Diseño e implementación del Sistema de Gestión de Seguridad y Salud en el Trabajo (SG-SST).</li>
            <li>Diseño de planes de preparación, prevención y respuesta ante emergencias</li>
            <li>Diseño de matriz de riesgos y peligros.</li>
            <li>Diseño de procedimientos específicos de seguridad.</li>
            <li>Inducciones en seguridad y salud en el trabajo.</li>
            <li>Capacitaciones en temas de seguridad.</li>
            <li>Auditorías internas al SG-SST</li>
            <li>Acompañamiento a revisorías de entes reguladores.</li>
            <li>Asesorías sobre programas existentes del SG-SST.</li>
            <li>Visitas diagnosticas integrales.</li>
            <li>Acompañamiento   a   investigaciones de   accidentes Leves y graves.</li>
            <li>Asesoría en dotación de elementos de protección personal.</li>
        </ul>
      </mat-card-content>
  </mat-card>
  <mat-card fxFlex.gt-sm="400px" [ngStyle.lt-md]="{'width': '400px'}" [ngStyle.lt-sm]="{'width': '300px'}">
      <mat-card-title>Recursos humanos</mat-card-title>
      <picture>
        <source srcset="assets/images/webP/human-resources-1280x254.webp" type="image/webp">
        <source srcset="assets/images/jpg/human-resources-1280x254.jpg" type="image/jpeg">
        <img mat-card-image src="assets/images/jpg/human-resources-1280x254.jpg" alt="Human resources" class="responsice">
      </picture>
      <mat-card-content>
        <ul>
          <li>Elaboración de nóminas y liquidaciones de prestaciones sociales.</li>
          <li>Elaboración de afiliaciones y pagos a la seguridad social.</li>
          <li>Elaboración de procesos de selección.</li>
          <li>Aplicación de procesos disciplinarios.</li>
          <li>Conciliaciones con EPS, ARL, AFP.</li>
          <li>Elaboración de evaluaciones de desempeño.</li>
          <li>Elaboración de manuales de cargos y funciones.</li>
          <li>Elaboración de contratos laborales y comerciales.</li>
          <li>Elaboración de derechos de petición.</li>
        </ul>
      </mat-card-content>
  </mat-card>
</div>