<mat-toolbar fxLayout='row' fxLayoutAlign="space-between center" >  
  <a fxFlex="201px" fxLayout="center center" routerLink="home">
    <app-logo></app-logo>
  </a>
  <div fxHide.gt-sm>
      <button mat-icon-button (click)="onToggleSidenav()">
          <mat-icon>menu</mat-icon>
      </button>
  </div>
  <div class="header-links" fxFlex fxLayout fxLayoutAlign="center" fxHide.lt-md>
      <ul fxFlex="80%" fxLayout="row" fxLayoutAlign="space-around center" 
            fxLayoutGap="7px" class="navigation-items">
          <li *ngFor="let item of headerItems" fxFlex="135px" routerLinkActive="active-link">
              <a routerLink="{{item.route}}" fxLayout fxLayoutAlign="center center">{{item.title}}</a>
          </li>
      </ul>
  </div>
</mat-toolbar>
