<mat-card>
  <mat-card-title>Quiénes somos</mat-card-title>
  <mat-card-subtitle>Somos una empresa creada para abarcar las necesidad de los pequeños y medianos empresarios, ofreciendo servicios de calidad con un alto sentido de responsabilidad para con el recurso humano de las organizaciones, dentro de nuestra experiencia profesional se ha logrado establecer parámetros de comunicación asertiva entre los empleados y los directivos de las organizaciones, obteniendo asi resultados positivos en la consolidación de estables equipos de trabajo.</mat-card-subtitle>
  <mat-card-content fxLayout="column">
    <div fxFlex="25px" class="separator" fxHide fxShow.lt-sm ></div>
    <div fxLayout.lt-sm="column" fxLayout.gt-xs="row" fxLayoutGap.lt-sm="20px" fxLayoutGap.gt-xs="30px">
      <div fxLayout="column">
        <h3>Nuestra misión</h3>
        <p>DOUG´S EJECUCIONES cuenta con dos unidades productivas; la primera “asesorías administrativas” tiene como objetivo principal brindar asesorías en recursos Humanos, & seguridad y salud en el trabajo, Teniendo como base fundamental el compromiso con la seguridad del ser humano y la integridad legal de las organizaciones. Brindando acompañamientos con una alta calidad profesional y humana; contando con un personal capacitado y comprometido con el servicio. La segunda unidad productiva “academia Doug´s” la cual tiene como finalidad la formación continua (capacitaciones, cursos, seminarios, y diplomados) de la comunidad y sectores aledaños en miras de su crecimiento personal y laboral.</p>
      </div>
      <div fxLayout="column">
        <h3>Nuestra visión</h3>
        <p>Para el 2025 DOUG´S EJECUCIONES en la unidad productiva de “asesorías administrativas” Será una empresa líder en el mercado por los servicios ofrecidos, teniendo como pilar el bienestar del Ser Humano y la integridad legal en las organizaciones, con calidad profesional en áreas como psicología organizacional, contable y tributaria, jurídica y legal, seguridad y salud en el trabajo y medicina organizacional, en aras de velar por el bienestar del empleado y el mejoramiento de las empresas. En la unidad productiva “academia” se pretende incursionar en el mercado de formación para el trabajo, ofreciendo a la comunidad vecina y municipios aledaños programas de interés con formación de calidad y docentes calificados.</p>
      </div>
    </div>
  </mat-card-content>
</mat-card>