<mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation" [autoFocus]="false">
        <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
    </mat-sidenav>
  <mat-sidenav-content fxLayout='column'>
    <header>
      <app-toolbar (sidenavToggle)="sidenav.toggle()"></app-toolbar>
    </header>
    <main fxLayout fxFlex fxLayoutAlign="center center">
      <router-outlet></router-outlet>
    </main>
    <footer>
      <app-footer></app-footer>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>